body{
    font-family: 'Segoe UI',sans-serif;
    background: #f6f6f9;
    margin: 0;
}
.app-header{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0,1);

}
.logo{
    color: #5a5af0;
    font-weight: bold;
    font-size: 1.5rem;
}
.new-blog{
    background: #5a5af0;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;

}

main{
    padding: 20px;
}

h1{
    color: #444;
    margin-bottom: 20px;
}

.booking-layout{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.calendar-box{
    flex: 1;
    min-width: 250px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}

.therapist-list{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.therapist{
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0,1);
    overflow: hidden;
}

.therapist img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.therapist div {
    padding: 10px 20px;

}


footer nav{
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 10px 0;
    border-top: 1px solid 
    #ccc;

}

footer nav a {
    text-decoration: none;
    color: #6a1b9a;
    font-weight: 500;
    
}