*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    font-family: 'Segoe UI', sans-serif;
    background:#f9f9fc;
}

.app-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    background:#ffffff;
    box-shadow:0 2px 4px rgba(0,0,0,0.1)
}

.logo{
    font-size:1.5rem;
    color:#5a5af0;
    font-weight:bold;
}
.search-action input{
    padding: 8px;
    border:1px solid#ccc;
    border-radius:6px;
    margin-right:10px;
}

.new-blog{
background: #5a5af0;
color:#fff;
border:none;
padding:8px 12px;
border-radius:5px;
cursor: pointer;
}
.user-icon{
    width: 35px;
    height: 35px;
    border-radius:50%;
}

main{
    padding: 20px;
}

main h1{
    font-size: 24px;
    margin: bottom 20px;
        color: #333;
}

.facility-control{
    display: flex;
    gap: 10px;
    margin-bottom:20px;
}
.facility-controls input{
    flex:1;
    padding: 8px;
    border: radius 5px;
    border: 1px solid #ccc;
}
.facility-control button{
    background:#eee;
    border: none;
    padding: 8px 14px;
    border-radius:5px;
    cursor: pointer;
}
.view-toggle{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    margin-bottom: 20px;
}
.view-toggle button{
    padding:8px 12px;
    border: none;
    border-radius:4px;
    background-color:#f0f0f0;
    cursor: pointer;
}
.view-toggle.active{
    background-color:#5a5af0;
    color:white;
}
#map-placeholder{
    width:100%;
    height: 400px;
background:#d6d6f5;
border-radius:10px;
display:flex;
align-items:center;
justify-content:center;
color:#444;
font-weight:bold;
}

footer{
    background:#fff;
    padding:10px 20px;
    border-top:1px solid #ddd;
}
footer nav{
    display:flex;
    justify-content:space-around;
}

footer nav{
    text-decoration:none;
    color:#5a5af0;
    font-weight:600;
}
 .map-container{
    width:100%;
    max-width:100%;
    overflow:hidden;
    border: radius 10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
 }